<%- include("partials/header") %>
<h1><%= campground.name %></h1>
<img src="<%= campground.image %>">
<p class="lead"><strong><%= campground.description %></strong></p>
<%- include("partials/footer") %>
